schema/basic_card.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="card">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string"/>
      <xs:sequence>
        <xs:element name="display">
          <xs:complexType>
            <xs:any/>
          </xs:complexType>
        </xs:element>
        <xs:element name="content">
          <xs:complexType>
            <xs:any/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
